@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');

#album-button {
  font-family: "Roboto";
  font-size: .8em;
  color: #888;
  vertical-align: text-bottom;
  cursor: pointer;
}

#album-button:hover {
  color: #ff0000;
}

#album-button.active {
  color: #ff0000;
}

#album-button.active:hover {
  color: #888;
}

.additional-container input {
  font-size: .9em;
}

.additonal-opt {
  font-family: "Roboto";
  font-size: .9em;
  color: grey;
}

body {
  background: white;
  font-size: 18px;
  padding-top: 3em;
}

body * {
  font-family: "Roboto";
  color: grey;
  text-align: center;
}

@media (max-width: 1200px) {
  body {
    font-size: 36px;
  }
}

.checkmark {
  stroke: green;
  stroke-dashoffset: 0;
  stroke-dasharray: 745.74853515625;
  animation: dash 10s ease-out forwards;
  z-index: 9999;
}

@keyframes dash {
  0% {
    stroke-dashoffset: 745.74853515625;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

#casette, #cd {
  margin: 0;
  width: 40px;
  height: 25px;
  display: inline-block;
  cursor: pointer;
}

#casette {
  background: url("assets/cas.png") top center no-repeat;
  background-size: contain;
}

#cd {
  background: url("assets/cd.png") top center no-repeat;
  background-size: contain;
}

#cd:hover {
  background: url("assets/cdblue.png") top center no-repeat;
  background-size: contain;
}

#casette:hover {
  background: url("assets/casblue.png") top center no-repeat;
  background-size: contain;
}

#fin::before {
  content: "";
  position: fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background: white;
  opacity: .7;
}

#fin{
  display:inline-block;
  position: fixed;
  top: 40%;
  margin: 0 auto;
  vertical-align: top;
  z-index: 9999;
}

@keyframes bigCheck {
    from {height: 20px}
    to {height: 120px;}
}

#fin::after{
  /*Add another block-level blank space*/
  content: '';
  display: block;

  /*Make it a small rectangle so the border will create an L-shape*/
  width: 60px;
  height: 120px;

  animation-name: bigCheck;
  animation-duration: 1.5s;

  /*Add a white border on the bottom and left, creating that 'L' */
  border: solid #2dcc18;
  border-width: 0 14px 14px 0;

  /*Rotate the L 45 degrees to turn it into a checkmark*/
  transform: rotate(45deg);
}

input {
  border-radius: 4px;
  border: 1px solid grey;
  padding: 8px !important;
  margin-bottom: 10px;

  font-family: "Roboto";
  font-size: 1em;
  color: grey;

  text-align: left;
}

input[type=submit] {
  margin-top: 10px;
  border-radius: 4px;
  border: 1px solid #2dcc18;

  background: white;

  font-family: "Roboto";
  font-size: 1em;
  color: #2dcc18;
}

input[type=submit]:hover {
  background: #2dcc18;
  color: white;
}

/* LABELS */

label {
  margin: 0;
}

.title, .artist {
  vertical-align: top;
}

.yt-original {
  display: block;
  color: #888;
  font-size: .9em;
  text-align: center;
  margin: 15px auto;
}

.yt-label {
  display: block;
  color: #888;
  font-size: .8em;
  margin-left: 4px;
  text-align: center;
}
.yt-label input {
  display: block;
  margin: 0 auto;
}
.artist-label::before {
  content:"artist (required)";
  display: block;
  color: #888;
  font-size: .8em;
  text-align: left;
  margin-left: 4px;
}
.title-label::before {
  content:"title (required)";
  display: block;
  color: #888;
  font-size: .8em;
  text-align: left;
  margin-left: 4px;
}

.genre-label::before {
  content:"genre";
  display: block;
  color: #888;
  font-size: .8em;
  text-align: left;
  margin-left: 4px;
}
.track-label::before {
  content:"track #";
  display: block;
  color: #888;
  font-size: .8em;
  text-align: left;
  margin-left: 4px;
}
.album-label::before {
  content:"album";
  display: block;
  color: #888;
  font-size: .8em;
  text-align: left;
  margin-left: 4px;
}

/* END LABELS */

#menu-bar {
  text-align: left;
  padding: 5px 2%;
  margin-top: 10px;
  margin-bottom: 10px;
}

#menu-bar > * {
  padding-right: 10px;
}

#playlist {
  padding-top: 20px;
}

#plex-link {
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
}

#plex-link:hover {
  opacity: .8;
}

#plex-link img {
  width: 50px;
  height: 50px;
}

#reset-button {
  font-family: "Roboto";
  font-size: .8em;
  color: #888;
  vertical-align: text-bottom;
  cursor: pointer;
}

#reset-button:hover {
  color: #2dcc18;
}

#single-additional {
  padding-top: 0px;
}

.switcheroo {
  background: url("../assets/arrows.png") top center no-repeat;
  background-size: contain;

  height: 1em;
  width: 1em;

  cursor: pointer;

  float: right;
  vertical-align: middle;
  display: inline-block;
}

.switcheroo:hover {
  background: url("../assets/arrowsgreen.png") top center no-repeat;
  background-size: contain;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

    background:
  linear-gradient(45deg, transparent 50%, black 50%),
  linear-gradient(135deg, black 50%, transparent 50%),
  linear-gradient(to right, white, white);
background-position:
  calc(100% - 21px) calc(1em + 2px),
  calc(100% - 16px) calc(1em + 2px),
  100% 0;
background-size:
  5px 5px,
  5px 5px,
  2.5em 2.5em;
background-repeat: no-repeat;

  border-radius: 4px;
  border: 1px solid grey;
  padding: 8px !important;

  font-family: "Roboto";
  font-size: 1em;
  color: grey;

  text-align: left;
}

.url {
  margin: 0;
}

.wrapper::before {
  content: "";
  position: fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background: white;
  z-index: -1;
  opacity: .5;
}

.wrapper {
  position: fixed;
  z-index: 999;
  width: 300px;
  margin: 4em auto 0;
  top: 50%;
  left: 50%;
  margin-top: -150px;
  margin-left: -150px;
  display: block;
  opacity: 1;
}

